* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Staatliches', cursive;
  font-size: 1.6rem;
  font-weight: 400;

  background: #eff1ff;
}

.page {
  display: grid;
  
  max-width: 38.4rem;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 0 auto;
}

header {
  text-align: center;
  padding: 3.2rem 0 2.9rem;

  background-color: hsl(218, 17%, 62%);
  color: hsl(0, 0%, 100%);
}

header img {
  margin-bottom: 3.2rem 0;
  width: 13.7rem;

  filter:  drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}


header p {
  display: none;

  font-family: 'Roboto', sans-serif;
  margin-top: 3.2rem;
  max-width: 27.5rem;
}

header h1 {
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background: #cbc0d3;

  height: 4.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: grid;
  text-align: center;
  
  padding: 1.4rem 3.2rem 6rem;
}

main p {
  font-family: 'Palanquin', sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;

  color: #23053a;

  margin: 0 auto 6.3rem;
  max-width: 30.5rem;
}

.card {
  position: relative;
}

.card + .card {
  margin-top: 3.6rem;
}

.card img {
  object-fit: cover;
  border-radius: 2rem;

  transition: all 200ms;
  animation: moveup 2s  alternate backwards ease;
}

.card img:hover{
  transform: scale(1.1);
  opacity: 0.4;
}

.card span {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  font-size: 2rem;
  line-height: 3.4rem;

  letter-spacing: 0.05em;


  width: 11.2;
  background: #feeafa;

  width: 11.2rem;
  border-radius: 2rem;
  
  animation: movedown   700ms 350ms linear;
}

.repeat {
  display: none;
}

footer {
  display: none;
  padding-bottom: 4.6rem;
}

footer p{
  font-family: 'Open Sans', sans-serif;;
  font-size: 1.4rem;
  line-height: 2.8rem;

  text-align: center;
}

footer a {
  text-decoration: none;
}

@keyframes movedown {
  0% {
    opacity: 0;
    transform: translatey(-15px);
  }

  100% {
    opacity: 1;
    transform: translatey(0);
  }
}


@keyframes moveup {
  0% {
    opacity: 0;
    transform: translatey(15px);
  }

  100% {
    transform: translatey(0);
  }
}

@media (min-width: 900px) {
  .page {
    grid-template-areas: 
    "header main" 
    "header footer";

    max-width: 100%;
    height: 100vh;
  }

  header {
    grid-area: header;
    padding-bottom: 0;
  }

  header p {
    display: flex;
    margin-bottom: 0;

    font-size: 2rem;
    line-height: 1.5rem;

    margin-inline: 3.2rem;
  }

  main p, .card span {
    display: none;
  }

  .card  + .card {
    margin-top: 0;
  }

  main {
    grid-area: main;
    grid-template-areas: 
    "A B"
    "D E"
    "D E";

    gap: 3.2rem;
    padding: 3.2rem;
  }

  main .A {
    grid-area: A;
  }

  main .B {
    grid-area: B;
  }

  main .C {
    grid-area: E;
  }

  main .D {
    grid-area: D;
  }

  footer {
    display: block;
    grid-area: footer;
  }
}

@media (min-width: 1280px) {
 header {
  max-width: 37.7rem;
 }

 header img {
  width: 21.447rem;
 }

 header h1 {
  font-size: 4.8rem;
  height: 7rem;
 }
 
 header p {
  font-size: 2.4rem;
  line-height: 2rem;
 }

 .repeat {
  display: flex;
 }

 main {
  grid-template-areas:
  "A B C"
  "D B F"
  "D E F";

  padding: 6.4rem 8.1rem 5rem 9.8rem;
 }

 main .A {
  grid-area: A;
 }

 main .B {
  grid-area: B;
 }

 main .C {
  grid-area: E;
 }

 main .D {
  grid-area: D;
 }

 main .E {
  grid-area: C;
 }

 main .F {
  grid-area: F;
 }
 
}
