* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-font: 'Staatliches';
  --ff-texting: 'Palanquin';

  --hue-color: 250;
  --body-color: hsl(217, 17%, 62%);
  --body-color-secund: hsl(var(--hue-color), 100%, 97%);
  --first-color: hsl(var(--hue-color), 17%, 35%);
  --title-color: hsl(var(--hue-color), 0%, 100%);
  --text-color: hsl(var(--hue-color), 84%, 12%);

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-h1: 4rem;
  --fs-p: 2rem;
}

body {
  font-family: var(--body-font);

  background-color: var(--body-color-secund);
  font-size: var(--fs-body);
}

.page {
  max-width: 32rem;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

header {
  font-family: var(--body-font);

  height: 279px;
  background-color: var(--body-color);

  text-align: center;
  
}

header img {
  
  padding-top: 32px;
  width: 137px;
}

main p {
  font-family: var(--ff-texting);
  font-size: var(--fs-p);
  line-height: 1.5rem;
  font-weight: 400;

  padding-top: 14px;

  color: var(--text-color);
}

.subtitle {
  display: flex;
  align-items: center;
  text-align: center;

  padding: 14px 34px 63px 34px;
}

header h1 {
  font-weight: 400;
  font-size: var(--fs-h1);
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  background: #CBC0D3;

  padding: 8px 7px;
  margin-top: 14px;

  color: var(--title-color);
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;

  position: relative;
}

.pallets {
  position: absolute;
  z-index: 10;
  top: 1.8rem;
  left: 19rem;
  height: 35px;
  padding: 0 24px;

  color: #4A4E69;
  background-color: #FEEAFA;
  border-radius: 20px;

}

.shake {
  position: absolute;
  z-index: 10;
  top: 31rem;
  left: 18rem;
  height: 34px;
  padding: 0 24px;

  color: #4A4E69;
  background-color: #FEEAFA;
  border-radius: 20px;
}

.pasta {
  position: absolute;
  z-index: 10;
  top: 79rem;
  left: 19rem;
  height: 35px;
  padding: 0 24px;

  color: #4A4E69;
  background-color: #FEEAFA;
  border-radius: 20px;
}

.pivot {
  position: absolute;
  z-index: 10;
  top: 108rem;
  left: 19rem;
  padding: 0 24px;

  color: #4A4E69;
  background-color: #FEEAFA;
  border-radius: 20px;
}

.card-container {
  animation: moveup 2s  alternate backwards ease;
}

 .card-container h2 {
 animation: movedown   700ms 350ms linear;
}

@keyframes movedown {
  0% {
    opacity: 0;
    transform: translatey(-15px);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translatey(0);
  }
}


@keyframes moveup {
  0% {
    opacity: 0;
    transform: translatey(100px);
  }

  100% {
    transform: translatey(0);
  }
}